name: kiosk_keyboard_plus
description: A customizable on-screen keyboard widget for Flutter kiosk applications with support for numeric, text, and alphanumeric input modes.
version: 1.0.2
homepage: https://github.com/NexivaServices/kiosk_keyboard
repository: https://github.com/NexivaServices/kiosk_keyboard
issue_tracker: https://github.com/NexivaServices/kiosk_keyboard/issues

environment:
  sdk: ">=3.0.0 <4.0.0"
  flutter: ">=3.0.0"

dependencies:
  flutter:
    sdk: flutter

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^3.0.0

flutter:
